<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ارسال ایمیل بازیابی</title>

    <link rel="stylesheet" type="text/css" href="/static/login/css/rtl.css">
</head>
<body style="background-color: #7a8793; margin: auto">
    <h3 class="myfont" style="text-align: center; font-size: 2.3rem; color: #0c5b0c">عملیات با موفقیت انجام شد</h3>
<p class="myfont" style="text-align: center; font-size: 1.7rem">تغییرات گذرواژه شما با موفقیت انجام شد.</p>
<p class="myfont" style="text-align: center; font-size: 1.7rem">با گذرواژه جدیدتان از طریق لینک زیر میتوانید وارد شوید.</p>
    <p style="text-align: center"><a class="myfont" style="align-items: center; text-decoration: none; font-size: 1.7rem" href="{% url 'login' %}">ورود</a></p>
</body>
</html>