<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ارسال ایمیل بازیابی</title>

    <link rel="stylesheet" type="text/css" href="/static/login/css/rtl.css">
</head>
<body style="background-color: #7a8793; margin: auto">
    <h3 class="myfont" style="text-align: center; font-size: 2.3rem">ایمیل بازیابی ارسال شد</h3>
<p class="myfont" style="text-align: center; font-size: 1.7rem">برای بازیابی حساب کاربری خود به ایمیلتان مراجعه کنید و از طریق لینک ارسال شده حساب کاربریتان را بازیابی کنید.</p>
<p class="myfont" style="text-align: center; font-size: 1.7rem">در صورتی که ایمیل را مشاهده نکردید پوشه spam ایمیل خود را بررسی نمایید.</p>
</body>
</html>