@import url('https://v1.fontapi.ir/css/Sahel');


body {
    direction: rtl !important;
    text-align: right !important;
    font-family: Sahel, sans-serif !important;
}

.myfont, .focus-input100::after {
    font-family: Sahel, sans-serif !important;
}

.btn-show-pass {
    right: initial;
    left: 0;
}


.error {
    color: red;
    background-color: #ffcfcf;
    display: block;
    padding: 15px;
    text-align: center;
}